<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="https://www.visheshdesigns.com" target="_blank" class="logo">महाराष्ट्र रिक्षा संघटना</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="user-listing" routerLinkActive="active">User Listing</a>
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>